<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^browse$" ignoreCase="false" />
                    <action type="Rewrite" url="browse.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^dashboard$" ignoreCase="false" />
                    <action type="Rewrite" url="dashboard.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^categoryprocess$" ignoreCase="false" />
                    <action type="Rewrite" url="processcategory.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="login.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^signup$" ignoreCase="false" />
                    <action type="Rewrite" url="signUp.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^user-manage/add$" ignoreCase="false" />
                    <action type="Rewrite" url="adduser.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^user-manage/edit/([0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="edituser.php?id={R:1}" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^dashboard/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="dashboard.php?manage={R:1}" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^browse/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="browse.php?p={R:1}" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^comments/add$" ignoreCase="false" />
                    <action type="Rewrite" url="processcomment.php" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^search$" ignoreCase="false" />
                    <action type="Rewrite" url="search.php" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^add$" ignoreCase="false" />
                    <action type="Rewrite" url="create.php" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^items$" ignoreCase="false" />
                    <action type="Rewrite" url="list.php" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^items/process$" ignoreCase="false" />
                    <action type="Rewrite" url="process.php" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^items/([0-9]+)/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="item.php?id={R:1}&amp;p={R:2}" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^items/edit/([0-9]+)/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="edit.php?id={R:1}&amp;p={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>