<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="login.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>